{
  "server": {
    "address": "localhost",
    "port": "4792"
  },
  "app": {
    "name": "Mlmmj Web Interface"
  },
  "users": [
    { "username": "admin", "password": "secret"}
  ],
  "mlmmj": {
    "path": "/var/spool/mlmmj"
  }
}
