{% extends "views/base.html" %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="/list">All groups</a></li>
<li><a href="/group/{{name}}">{{ name }}</a></li>
<li class="active">Control</li>
{% endblock %}

{% block content %}
<h1>Group {{ name }} — Control</h1>

<div class="row">

  <div class="col-lg-3">
    <h3>Control flags</h3>
    <form id="flags" class="form-horizontal">
      {% for key, flag in flags %}
        <div class="checkbox">
          <label>
            <input type="checkbox" id="{{ key }}" {% if flag == true %}checked="checked"{% endif %}> {{ availables['flags'][key].name }}
          </label>
        </div>
      {% endfor %}
    </form>
    <a class="save btn btn-primary" href="/group/{{ name }}/save" data-key="flags"><span class="saving" style="display: none;">Saving ...</span><span>Save</span></a>
  </div>

  <div class="col-lg-3">
    <h3>Values</h3>
    <form id="values" class="form-horizontal">
      {% for key, value in values %}
        <div class="form-group">
          <label for="{{ key }}" class="col-sm-6 control-label">{{ availables['values'][key].name }}</label>
          <div class="col-sm-6">
            <input id="{{ key }}" class="form-control" type="text" placeholder="{{ availables['values'][key].default }}" value="{{ value }}">
          </div>
        </div>
      {% endfor %}
    </form>
    <a class="save btn btn-primary" href="/group/{{ name }}/save" data-key="values"><span class="saving" style="display: none;">Saving ...</span><span>Save</span></a>
  </div>

  <div class="col-lg-3">
    <h3>Texts</h3>
    <form id="texts">
      {% for key, text in texts %}
        <div class="form-group">
          <label for="{{ key }}" class="control-label">{{ availables['texts'][key].name }}</label>
          <textarea id="{{ key }}" class="form-control" >{{ text }}</textarea>
        </div>
      {% endfor %}
    </form>
    <a class="save btn btn-primary" href="/group/{{ name }}/save" data-key="texts"><span class="saving" style="display: none;">Saving ...</span><span>Save</span></a>
  </div>

  <div class="col-lg-3">
    <h3>Lists</h3>
    <form id="lists">
      {% for key, list in lists %}
        <div class="form-group">
          <label for="{{ key }}" class="control-label">{{ availables['lists'][key].name }}</label>
          <textarea id="{{ key }}" class="form-control" >{{ list }}</textarea>
        </div>
      {% endfor %}
    </form>
    <a class="save btn btn-primary" href="/group/{{ name }}/save" data-key="lists"><span class="saving" style="display: none;">Saving ...</span><span>Save</span></a>
  </div>

</div>

{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/js/main.js"></script>
{% endblock %}
