html {
  position: relative;
  min-height: 100%;
}
body { 
  /* For the navbar height */
  padding-top: 70px;
  padding-bottom: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* reduce margin under breadcrumb */
.breadcrumb {
  margin-bottom: 0;
}

/* Give some headroom to the intro <p>*/
p.intro {
  margin-top: 20px;
}

/* Actions under each column */
.actions {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #CCC;
}

/* Border below navbar */
.navbar {
  border-bottom: 3px solid #337ab7;
}

/* Little (i) help buttons */
a.help {
  text-decoration: none;
  cursor: pointer;
  margin-left: 5px;
  font-weight: normal;
}
a.help:hover {
  color: black;
}

/* Mail headers on archive page */
.mailheaders {
  list-style-type: none;
  padding-left: 10px;
  border-left: 2px solid #AAA;
}

/* Separate attachments */
.attachments {
  border-top: 1px solid #CCC;
  padding-top: 10px;
  margin-top: 20px;
}

/* Popovers */
.popover {
  width: 200px;
}

/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}